* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
}

#page1 {
    width: 100%;
    height: 100vh;
}

#nav1 {
    color: #fff;
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    overflow: hidden;

}

#nav1-part1 {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

#nav1-part1 i:nth-child(1) {
    border-left: 1.5px solid #fff;
    /* padding: 20px; */
}

#nav1-part1 i {
    font-size: 30px;
    padding: 20px;
    border-right: 1.5px solid #fff;
}

#nav1-part2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.inner-nav1 {
    display: flex;
}

#nav1-part2 h3 {
    font-size: 25px;
}

#nav1-part2 i {
    font-size: 25px
}

#nav1-part2 h5 {
    font-size: 20px;
}

#nav1-part3 button {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
}

#nav2 {
    width: 100%;
    height: 90px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    overflow: hidden;
}

#nav2 h2 {
    font-size: 50px;
    font-weight: 600;
}

#nav2-part2 {
    display: flex;
    align-items: center;
    gap: 60px;

}

#nav2 h5 {
    font-size: 22px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

#nav2 h5::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0);
    transition: all ease 0.5s;
}

#nav2 h5:hover::after {
    width: 100%;
}

#nav2 h5:nth-last-child(1) {
    color: #000;
    background-color: rgb(255, 145, 0);
    padding: 40px 10px;
}

#nav2 i {
    font-size: 27px;
    font-weight: 700;
    padding: 40px 5px;
    background-color: #000;
    color: #fff;
}

#center {
    width: 100%;
    height: 650px;
    background-color: salmon;
    position: relative;

}

#center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 5%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #00000073;
    position: absolute;
    top: 0;
    color: #fff;
    padding: 100px 150px;
    display: flex;
}

.overlay-part1 {
    position: relative;
    /* width: 80%; */
    /* background-color: red; */
}

.overlay h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.overlay h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.overlay p {
    font-size: 25px;
    width: 60%;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.overlay button {
    padding: 15px 20px;
    font-size: 25px;
    text-transform: uppercase;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 50px;
    color: #fff;
}

.overlay button:nth-child(5) {
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    border: none;

}

.line {
    width: 8px;
    height: 67%;
    background: linear-gradient(to bottom, rgb(234, 172, 56), rgb(224, 77, 215));
    position: absolute;
    left: -1.5%;
    border-radius: 5px;
}

.overlay-part2 {
    /* Corrected class name */
    /* width: 50%; */
    /* height: 20px; */
    /* background-color: green; */
    position: relative;
    left: -20%;
    top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.overlay-part2 .circle {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.overlay-part2 .circle:nth-child(2) {
    background: linear-gradient(to top, rgb(234, 172, 56), rgb(224, 77, 215));
    border: none;
}

#bottom {
    width: 100%;
    height: calc(100% - 810px);
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.bottom-text {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.gola-text {
    display: flex;
    align-items: center;
    gap: 40px;
}

.gola {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gola i {
    color: #fff;
    font-size: 40px;
}

.gola-text h1 {
    text-transform: uppercase;
    font-size: 47px;
    color: #fff;
    font-weight: bold;
}

.bottom-text p {
    font-size: 20px;
    color: #fff;
}

#page2 {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    display: flex;
}

#page2-left {
    width: 50%;
    height: 60%;
    /* background-color: red; */
    padding: 40px 80px;
}

#page2-left h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.para {
    width: 8%;
    height: 5px;
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    margin-bottom: 15px;
    border-radius: 50px;
}

#page2-left h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#page2-left p {
    width: 90%;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 60px;
}

#page2-left button {
    padding: 15px 30px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    color: #fff;    
}

#page2-right {
    width: 50%;
    height: 100%;
    /* background-color: rgb(85, 255, 0); */
    position: relative;
}
.square{
    width: 90%;
    height: 20%;
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    position: absolute;
    bottom: 12%;
    padding: 10px;

}
.inner-box{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.square img{
    height: 600px;
    position: absolute;
    bottom: 8%;
    left: 15%;
}
#bottom2{
    width: 100%;
    height: 65vh;
    background-color: rgb(222, 222, 222);
    padding: 40px 80px;
}
#bottom2 h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#bottom2 .para {
    width: 5%;
    height: 5px;
    background: linear-gradient(to right, rgb(234, 172, 56), rgb(224, 77, 215));
    margin-bottom: 15px;
    border-radius: 50px;
}
.bottom2-div{
    width: 100%;
    height: 40vh;
    /* background-color: red; */
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner-div{
    width: 32%;
    height: 100%;
    /* background-color: green; */
    position: relative;
}
.inner-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    width: 70%;
    height: 25%;
    background-color: #fff;
    position: absolute;
    bottom: -13%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}